@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* Commonly shared styles */

  .display-flex {
    display: flex;
  }
  .text-black {
    color: #3A3A3A;
  }

  /* Header styles */

  header {
    margin-bottom: 90px;
  }

  /* ==== navbar styles ====  */

  .navbar {
    justify-content: space-between;
    align-items: center;
  }
  .brand {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .nav-links {
    list-style: none;
    gap: 20px;
    align-items: center;
  }
  .nav-link {
    text-decoration: none;
    font-weight: 500;
    color: #3A3A3A;
  }
  .nav-link img {
    width: 25px;
    height: 25px;
  }
  .menu-icon {
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  /* ==== Banner styles ====   */

  .banner {
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-bottom: 90px;
  }
  .banner-content {
    max-width: 580px;
    height: auto;
  }
  .banner-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .banner-text {
    font-size: 1rem;
    font-weight: 600;
  }
  .explore-btn {
    margin-top: 16px;
    padding: 12px 24px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
  }
  .banner-img {
    max-width: 440px;
    height: auto;
    background-image: url('images/Circle_Design.svg');
  }

  /* ==== Brand logos styles ==== */

  .brand-logos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 1120px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 0;
    margin: 0 auto;
  }

  /* Main section styles */

  .collection {
    margin-bottom: 20px;
  }
  .collection-title {
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 33px;
  }

  /* ==== Cards styles ====  */

  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1120px;
    gap: 30px;
    margin: 0 auto;
  }
  .card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 16px;
  }
  .card-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 12px;
  }
  .card-title {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0 0 1px 0;
  }
  .card-price {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 6px;
  }
  .rating {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
  }
  .stars {
    color: #FB8200; /* orange stars */
    letter-spacing: 2px;
    font-size: 1.25rem;
  }
  .rating-number {
    color: #5E6366;
    font-weight: 600;
  }
  .card-text {
    font-size: .9rem;
    font-weight: 600;
    color: #5E6366;
    text-align: left;
  }
  .see-more {
    color: #E02C6D;          /* your accent pink */
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    gap: 6px;
  }
  .see-more:hover {
    text-decoration: underline;
  }

  /* ==== Featured product styles ==== */

  .featured {
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .featured-content {
    max-width: 610px;
  }
  .content-title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .content-text {
    color: #6C6C6C;
    font-size: 1rem;
    font-weight: 600;
  }
  .join-btn {
    border-radius: 0;
  }

  /* Footer styles */

  footer {
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 100px;
    padding: 40px 0;
  }
  .footer-content {
    margin: 0 auto;
    text-align: center;
    max-width: 262px;
  }
  .footer-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 8px;
  }
  .footer-text {
    font-size: .88rem;
    font-weight: 500;
    line-height: 1.7;
  }
  .footer-icons {
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
  .icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color:#FFFFFF;
    border-radius: 50%;
  }
  
  /* Responsive adjustments */

  /* ===== Mobile Navbar Styles ===== */
  @media screen and (max-width: 576px) {

    .display-none {
      display: none;
    }
    .menu-icon {
      display: block;
    }
    .banner {
      flex-direction: column-reverse;
      text-align: center;
      gap: 40px;
    }
    .banner-title {
      font-size: 1.75rem;
    }
    .brand-logos {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      place-items: center;
      justify-content: center;
    }
    .brand-name {
      width: 60px;
      height: auto;
    }
    .cards-container {
      grid-template-columns: 1fr;
    }
    .featured {
      flex-direction: column-reverse;
      text-align: center;
      gap: 40px;
    }  
    .featured-img {
      max-width: 350px;
    }
  }
  