@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* Commonly shared styles */

  .display-flex {
    display: flex;
  }
  .text-black {
    color: #3A3A3A;
  }

  /* Header styles */

  /* ==== navbar styles ====  */

  .navbar {
    justify-content: space-between;
    align-items: center;
  }
  .brand {
    font-weight: 700;
    font-size: 1.5rem;
  }
  .nav-links {
    list-style: none;
    gap: 20px;
    align-items: center;
  }
  .nav-link {
    text-decoration: none;
    font-weight: 500;
    color: #3A3A3A;
  }
  .nav-link img {
    width: 25px;
    height: 25px;
  }
  .menu-icon {
    display: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  /* ==== Banner styles ====   */

  .banner {
    justify-content: center;
    align-items: center;
    gap: 130px;
    margin-bottom: 70px;
  }
  .banner-content {
    max-width: 580px;
    height: auto;
  }
  .banner-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .banner-text {
    font-size: 1rem;
    font-weight: 600;
  }
  .explore-btn {
    margin-top: 16px;
    padding: 12px 24px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
  }
  .banner-img {
    max-width: 440px;
    height: auto;
    background-image: url('images/Circle_Design.svg');
  }

  /* ==== Brand logos styles ==== */

  .brand-logos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 1120px;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 0;
    margin: 0 auto;
  }
  
  /* Responsive adjustments */

  /* ===== Mobile Navbar Styles ===== */
  @media screen and (max-width: 576px) {

    .display-none {
      display: none;
    }
    .menu-icon {
      display: block;
    }
    .banner {
      flex-direction: column-reverse;
      text-align: center;
      gap: 40px;
    }
    .banner-title {
      font-size: 1.75rem;
    }
    .brand-logos {
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      place-items: center;
      justify-content: center;
    }
    .brand-name {
      width: 60px;
      height: auto;
    }
  }
  